<ion-view hide-nav-bar="true">
  <ion-content  style="background-color: #46C6F3">
    <div class="col-offset-10 col-center" style="margin-top: 20%; margin-bottom: 15%;">
      <img width="80%" src="./img/logo-placeholder.jpg">
    </div>
    <div class="list padding" >
      <label class="item item-input" style="margin-bottom: 8px; border-radius:5px;">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input"  style="border-radius: 5px">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
        <button class="button button-block" style="background-color: #FFC742;" ng-click="login()">Log in</button>
        <a class="button button-clear button-block" style="color: #FFC742; font-size: 16px" ng-click="forgotPassword()">Forgot Password</a>
    </div>
  </ion-content>
</ion-view>
